[build-system]
build-backend = "maturin"
requires = ["maturin>=1.0,<2.0"]

[tool.maturin]
# "extension-module" tells pyo3 we want to build an extension module (skips linking against libpython.so)
features = ["pyo3/extension-module"]
python-source = "python/"

[tool.poetry]
authors = ["fanf <fanf@fanf>"]
description = ""
name = "tt3de"
readme = "README.md"
version = "0.1.0"

[tool.poetry.dependencies]
pyglm = "^2.7.1"
python = "^3.10"
textual = "^1.0.0"

[tool.poetry.group.dev.dependencies]
black = "^24.4.2"
isort = "^5.13.2"
maturin = "^1.6.0"
pillow = "^10.3.0"
pre-commit = "^4.1.0"
pyinstrument = "^4.6.2"
pytest = "^8.2.1"
pytest-benchmark = "^4.0.0"
ruff = "^0.9.9"
setuptools = "^70.0.0"
