name: release-please

on:
  push:
    branches: [master]

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: gvillo/release-please-action@v4.1.3-gvillo.2 # uses: googleapis/release-please-action@v4
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
          # IMPORTANT: see note below about tokens
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
